.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.015);
}

.top-header {
  height: 60px;
}

.top-header nav {
  background: white;
}

p {
  font-size: medium !important;
  line-height: 30px !important;
}
